.sidebar {
  height: 100%;
  width: 3.7rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #252525;
  overflow-x: hidden;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  transition: 0.5s;
  padding-top: 1em;
  z-index: 1;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 30px;
}

.logo-container {
  padding: 0.5rem;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-small {
  width: 2.5rem;
  height: 2.5rem;
}

.logo-large {
  display: none;
  width: 160px;
  height: auto;
}

.togglebtn {
  position: absolute;
  border-top-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  padding: 10px;
  top: 10px;
  right: 10px;
  width: 1em;
  height: 1em;
  background-color: #4caf91;
  font-size: 2em;
  cursor: pointer;
  color: #ffc552;
  z-index: 99;
  transition: all 0.6s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.togglebtn:hover {
  background-color: #4caf91;
  color: #fff;
  border: 1px solid #ffc552;
}

.togglebtn i {
  font-size: 0.5em;
}

.menu {
  margin-top: 3em;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinear elementos al inicio */
  flex-flow: column nowrap; /* Cambia wrap a nowrap */
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  padding: 12px 16px; /* Aumenta el padding */
  text-decoration: none;
  font-size: 1.1em;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre ícono y texto */
  transition: 0.3s;
}

.nav-links a i {
  width: 1em;
}

.nav-links a span {
  display: none;
}

.nav-links a:hover {
  color: #f1f1f1;
}

/* Estados del sidebar */
.sidebar.collapsed {
  width: 3.7rem;
}

.sidebar.collapsed .logo-small {
  display: block;
}

.sidebar.collapsed .logo-large {
  display: none;
}

.sidebar.collapsed .nav-links a i {
  margin: 0;
  text-align: center;
  width: 95%;
}

.sidebar.collapsed .nav-links a span {
  display: none;
}

.sidebar.collapsed .togglebtn {
  border-top-right-radius: 0.3em;
  border-bottom-left-radius: 0;
}

/* Sidebar expandido */
.sidebar:not(.collapsed) {
  width: 17em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.5);
}

.sidebar:not(.collapsed) .logo-small {
  display: none;
}

.sidebar:not(.collapsed) .logo-large {
  display: block;
}

.sidebar:not(.collapsed) .nav-links a span {
  display: inline-block;
}